---

# Configure GIT.
- name: Set GIT user name and email
  git_config:
    scope: global
    name: "{{ item.name }}"
    value: "{{ item.value }}"
  with_items:
    - name: "user.email"
      value: "{{ git_user_email|default(omit) }}"
    - name: "user.name"
      value: "{{ git_user_name|default(omit) }}"
  become: true
  become_user: vagrant
