# {{ ansible_managed }}

<Directory {{ vagrant.destination_directory }}/{{ apache2_document_root }}>
  AllowOverride All
  Options -Indexes +FollowSymLinks
  Require all granted
</Directory>

<VirtualHost *:80>
  ServerName {{ vagrant.hostname }}
{% if vagrant.host_aliases|length > 0 %}
  ServerAlias {{ vagrant.host_aliases|join(" ") }}
{% endif %}

  DocumentRoot {{ vagrant.destination_directory }}/{{ apache2_document_root }}

  SetEnv DRAFT_ENVIRONMENT true

  CustomLog "/var/log/draft/apache_access.log" common
  ErrorLog /var/log/draft/apache_error.log
  LogLevel {{ apache2_log_level }}

</VirtualHost>

<VirtualHost *:443>
  ServerName {{ vagrant.hostname }}
{% if vagrant.host_aliases|length > 0 %}
  ServerAlias {{ vagrant.host_aliases|join(" ") }}
{% endif %}

  DocumentRoot {{ vagrant.destination_directory }}/{{ apache2_document_root }}

  CustomLog "/var/log/draft/apache_access.log" common
  ErrorLog /var/log/draft/apache_error.log
  LogLevel {{ apache2_log_level }}

  SetEnv DRAFT_ENVIRONMENT true

  <IfModule mod_ssl.c>
    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/draft.crt
    SSLCertificateKeyFile /etc/apache2/ssl/draft.key
  </IfModule>
</VirtualHost>
