# Ignore Vagrant virtual machine data.
/.vagrant

# Ignore Molecule directory.
/.molecule

# Ignore documents root folder.
/docroot

# Ignore binaries.
/bin

# Ignore Composer-managed dependencies.
/vendor

# Ignore local settings.
/vm-settings.local.yml
