# Ignore Vagrant virtual machine data.
/.vagrant

# Ignore default documents root folder.
/docroot

# Ignore Composer-managed dependencies.
/vendor

# Ignore Composer lock file (this is not a project).
/composer.lock

# Ignore local settings.
/vm-settings.local.yml
