parameters:
  level: max
  paths:
    - src
    - tests
  excludes_analyse:
    - tests/Traits/ComposerPackageEventFactoryTrait.php
  dynamicConstantNames:
    - Composer\Plugin\PluginInterface::PLUGIN_API_VERSION
  ergebnis:
    classesAllowedToBeExtended:
      - Lemberg\Draft\Environment\Config\Manager\AbstractConfigManager
      - Lemberg\Draft\Environment\Config\Manager\UpdateManager
      - Lemberg\Draft\Environment\Config\Install\Step\AbstractInstallStep
      - Lemberg\Draft\Environment\Config\Update\Step\AbstractUpdateStep
      - Lemberg\Tests\Functional\Draft\Environment\AbstractFunctionalTest
      - Lemberg\Tests\Functional\Draft\Environment\Config\Manager\AbstractConfigManagerTest
      - Lemberg\Tests\Unit\Draft\Environment\Config\Update\Step\Cleanup30400Test
      - Symfony\Component\Filesystem\Filesystem
    classesNotRequiredToBeAbstractOrFinal:
      - Lemberg\Draft\Environment\Config\Manager\UpdateManager
      - Lemberg\Tests\Unit\Draft\Environment\Config\Update\Step\Cleanup30400Test
