parameters:
	level: max
	paths:
		- src
		- tests
	ergebnis:
		classesAllowedToBeExtended:
			- Lemberg\Draft\Environment\Config\Manager\AbstractConfigManager
			- Lemberg\Draft\Environment\Config\Install\Step\AbstractInstallStep
			- Lemberg\Draft\Environment\Config\Update\Step\AbstractUpdateStep
			- Symfony\Component\Filesystem\Filesystem
	ignoreErrors:
		-
			message: '#Method [A-Za-z0-9\\]+::[A-Za-z0-9\(\)]+ is not final, but since the containing class is abstract, it should be.#'
			paths:
				- src/Config/Install/Step/AbstractInstallStep.php
