<?xml version="1.0" encoding="UTF-8"?>

<phpunit xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true">
  <!-- Filter for coverage reports. -->
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
  </coverage>
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>./tests/Unit/</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>./tests/Functional/</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <extension class="Lemberg\Tests\Extensions\Draft\Environment\PHPUnit\Hook\BypassFinalHook"/>
  </extensions>
</phpunit>
