# {{ ansible_managed }}

<VirtualHost *:80>
  ServerName {{ vagrant.hostname }}
{% if vagrant.host_aliases|length > 0 %}
  ServerAlias {{ vagrant.host_aliases|join(" ") }}
{% endif %}

  DocumentRoot {{ vagrant.base_directory }}/{{ apache2_document_root }}

  CustomLog "{{ vagrant.base_directory }}/logs/access_access.log" common
  ErrorLog {{ vagrant.base_directory }}/logs/apache_error.log
  LogLevel {{ apache2_log_level }}

  <Directory {{ vagrant.base_directory }}/{{ apache2_document_root }}>
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>
</VirtualHost>
