# {{ ansible_managed }}

# Allow executable app dependencies from Composer to be run from the path.
if [ -n {{ vagrant.destination_directory }} -a -f {{ vagrant.destination_directory }}/composer.json ] ; then
  bin=$(composer config bin-dir --working-dir={{ vagrant.destination_directory }} --no-interaction 2>/dev/null)
  if [ -n "$bin" ] ; then
    export PATH="{{ vagrant.destination_directory }}/${bin}:${PATH}"
  fi
fi
