---
- name: Ensure Ansible temp directory exists
  file:
    path: /tmp/ansible
    state: directory
    mode: 0777

- name: Ensure base packages are installed
  apt:
    name:
      - curl
      - git
      - locales
      - openssh-server
      - rsyslog
      - tzdata
      - unzip
      - wget
    state: present
    update_cache: yes
    cache_valid_time: 86400

- name: Add vagrant user to syslog group
  user:
    name: vagrant
    groups: syslog
    append: yes

- name: Ensure that logs directories exist
  file:
    path: '{{ item }}'
    state: directory
    mode: 0755
    group: vagrant
    owner: vagrant
  with_items:
    - /var/log/draft

# Required by Deamonize, which is required by MailHog
- name: Ensure build-essential package is installed
  apt:
    name: build-essential
    state: present
  when: "'mailhog' in draft_features"

# Required by Solr
- name: Ensure packages required by Solr role are installed
  apt:
    name:
      - libxml2-dev
      - libxslt-dev
      - python3-dev
      - python3-lxml
      - rsync
    state: present
  when: "'solr' in draft_features"

- name: Add Composer bin directory to global $PATH
  template:
    src: vendor_path.sh.j2
    dest: /etc/profile.d/vendor_path.sh
    mode: 0644

- name: Get /etc/environment permissions
  stat:
    path: /etc/environment
    get_checksum: no
    get_mime: no
  register: etc_environment_stat

- name: Expose draft environment via environment variable
  lineinfile:
    path: /etc/environment
    line: DRAFT_ENVIRONMENT=true
    mode: '{{ etc_environment_stat.stat.mode }}'

- name: Get ~/.bashrc permissions
  stat:
    path: ~/.bashrc
    get_checksum: no
    get_mime: no
  register: bashrc_stat

- name: Use Vagrant base directory as a default SSH directory
  become: true
  become_user: vagrant
  lineinfile:
    path: ~/.bashrc
    line: cd {{ ssh_default_directory }}
    mode: '{{ bashrc_stat.stat.mode }}'

- name: Ensure locale exists
  locale_gen:
    name: en_US.UTF-8
    state: present

- name: Set valid locale
  command: update-locale LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8
  when: ansible_env.LC_ALL is not defined

- name: Get /etc/ssh/sshd_config permissions
  stat:
    path: /etc/ssh/sshd_config
    get_checksum: no
    get_mime: no
  register: sshd_config_stat

- name: Ensure that PasswordAuthentication is enabled
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication '
    line: 'PasswordAuthentication yes'
    mode: '{{ sshd_config_stat.stat.mode }}'
  notify:
    - Restart SSH server

- name: Ensure that ChallengeResponseAuthentication is enabled
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^ChallengeResponseAuthentication '
    line: 'ChallengeResponseAuthentication yes'
    mode: '{{ sshd_config_stat.stat.mode }}'
  notify:
    - Restart SSH server
